<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket-Io</title>

</head>
<body>
    <h1>Hello Thomas</h1>

    <div id="sendData">Send data</div>
    <p id="content"></p>
    <h5>A</h5>
    <input id="number1" type="text">
    <h5>B</h5>
    <input id="number2" type="text">
    <br>
    <button id="submit">Submit</button>

    <h3>Result: <span id="result-number"></span></h3>







    <script src="jquery-lib.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script src="index.js"></script>
    <script src="jquery.js"></script>
</body>
</html>