<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket-Io</title>

</head>
<body>
    <h1>Hello Thomas</h1>

    <p id="content"></p>
    <div id="sendData">Send data</div>
    <script src="jquery-lib.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script src="index.js"></script>
    <script src="jquery.js"></script>
</body>
</html>